html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* 動畫放在最底層 */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2; /* 選單放在最上層 */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.menu li {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li:hover {
  background-color: #f0f0f0;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.menu li:hover .submenu {
  display: flex;
}

.submenu li {
  padding: 5px 10px;
}

#content-frame {
  display: none; /* 預設隱藏 iframe */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%; /* 設置高度為視窗的 80% */
  background-color: rgba(255, 255, 255, 0.2); /* 設置透明背景 */
  z-index: 1; /* iframe 放在第二層 */
  border: none;
}

#content-frame.visible {
  display: block; /* 顯示 iframe */
}
